*{
  margin: 0px;
}

/* -- Header -- */

.bg{
  width: 100%;
  background-image: url('../imagenes/001.png');
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-f{
  max-width: 100%;
  height: 300px;
  width: 450px
}
.pad{
  padding: 0px 10px 0px 10px;
}
.navbar-inverse .navbar-brand{
  padding-top: 10px;
  font-size: 18px;
  margin-right: 0px;
}
.navbar-inverse .navbar-nav > li > a{
  color: #fff;
  font-size: 13px;
}
.navbar-inverse{
  background: #000;
}
.navbar:not(.top-nav-collapse) {
  background: rgba(0, 0, 0, 0.1);
}
.rgba-gradient {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.5) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.5) 100%)));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.5) 100%);
}
.bord{
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

/* -- Body -- */
.fondo1{
  background: #000d1c;
}
.fondo2{
  background: #FCFFFB;
}
.fondo3{
  background: #d0d0d0;
}
.fondon{
  background: rgba(0, 0, 0, 0.9);
}
.secction1{
  padding: 72px 200px;
}
.secction{
  padding: 72px 92px;
}
.img-ico{
  padding: 25px;
  width: 100%;
}
.font{
  font-size: 12px;
  padding-top: 20PX;
}
.caption{
  font-size: 12px;
}
.bord1{
  border-bottom: 1px solid #fff;
}
.font-cont{
  font-size: 20px;
  padding-bottom: 10px;
}
.ti{
  font-size: 14px;
}
.p{
  font-size: 11px;
}
.font-con{
  font-size: 15px;
}
.pat{
  padding-top: 20px;
}
.pab{
  padding-bottom: 15px;
}
.pad{
  padding: 100px 150px;
}
.pa .btn{
  font-size: 14px;
}


/* -- Footer -- */

.font-footer{
  font-size: 16px;
}
.ba{
  padding-left: 30px;
}
.modal-content{
  height: 500px;
}
.font-weight-bold{
  color: #fff;
}
.pa1{
  padding-top: 20px;
}
.pa12{
  padding-top: 10px;
}
.co0{
  font-size: 13px;
  color: #fff;
}
.co1{
  font-size: 15px;
  color: #fff;
}
.co12{
  font-size: 17px;
}
.co2{
  color: #fff;
}

@media screen and (max-width: 991px){
  .navbar:not(.top-nav-collapse) {
    background: rgba(0, 0, 0, 0.5);
  }
  .secction1{
    padding: 72px 92px;
  }
}
@media screen and (max-width: 720px){
  .secction, .secction1, .secction2{
    padding: 72px;
  }
}
@media screen and (max-width: 540px){
  .secction, .secction1{
    padding: 72px 20px;
  }
  .secction2{
    padding: 72px 50px;
  }
}
@media screen and (max-width: 500px){
  .bg{
    height: 50%;
  }
}
@media screen and (max-width: 400px){
  .bg{
    height: 35%;
  }
}
